<nav class="nav-container">

    <ul class="sidebar-section">
        
        <li class="sidebar-header">Personal Settings</li>

        <li class="menu-item" data-page="profile">
            <span class="mi-icon">👤</span> Profile 
        </li>
    </ul>

    <ul class="sidebar-section">
        
        <li class="sidebar-header">Workspace Settings</li>

        <li class="sidebar-header workspace-title">
            <span class="ws-icon">T</span> Workspace's Name
        </li>

        <li class="menu-item" data-page="boards">
            <span class="mi-icon">📋</span> Boards
        </li>

        <li class="menu-item" data-page="members">
            <span class="mi-icon">👥</span> Members
        </li>

        <li class="menu-item" data-page="settings-wsp">
            <span class="mi-icon">⚙️</span> Settings
        </li>
    </ul>

</nav>