<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<nav class="nav-container">
    <ul class="sidebar-section"> 
        <li class="sidebar-header">Workspace Settings</li>
        <li class="sidebar-header workspace-title">
            <span class="ws-icon">T</span> Workspace's Name
        </li>
        <li class="menu-item" data-page="board-wsp">
            <span class="mi-icon"><i class="fa-solid fa-briefcase"></i></span> Boards
        </li>
        <li class="menu-item" data-page="members">
            <span class="mi-icon"><i class="fa-solid fa-user-group"></i></span> Members
        </li>
        <li class="menu-item" data-page="settings-wsp">
            <span class="mi-icon"><i class="fa-solid fa-gear"></i></span> Settings
        </li>
    </ul>
    <button class="close-button" title="Close" onclick="window.location.href='home.html'">
        <i class="fa-solid fa-xmark"></i>
    </button>
</nav>